<ion-header>
  <ion-toolbar>
    <ion-title>{{'REGISTRO_TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (ngSubmit)="tryRegister(signupForm.value)">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label  position="floating">{{'EMAIL'  | translate}}</ion-label> 
      <ion-input
        formControlName="email"
        type="email"
        [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
      >
      </ion-input>
    </ion-item>
    <small
      class="error-message"
      *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched"
    >{{'VALID_EMAIL' | translate}}
    </small>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">{{'PASSWORD' | translate}}</ion-label> 
      <ion-input
        formControlName="password"
        [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
      >
      </ion-input>
    </ion-item>
    <small
      class="error-message"
      *ngIf="!signupForm.controls['password'].valid  &&
      signupForm.controls['password'].touched"
    >{{'PASSWORD_VALID' | translate}}
    </small>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">{{'PASSWORD_CONFIRM' | translate}}</ion-label> 
      <ion-input
        formControlName="confirmPassword"
        [class.invalid]="!signupForm.controls['confirmPassword'].valid && signupForm.controls['confirmPassword'].touched">
      </ion-input>
    </ion-item>
    
    <small
      class="error-message"
      *ngIf="!signupForm.controls['confirmPassword'].valid  &&
      signupForm.controls['confirmPassword'].touched"
    >{{'PASSWORD_VALID' | translate}}
    </small>
    <small 
      class="error-message"
      *ngIf="!isIgual && signupForm.controls['confirmPassword'].touched && signupForm.controls['confirmPassword'].valid"
    >{{'PASSWORD_MACHING' | translate}}
    </small>

    <ion-label padding float-left><ion-checkbox formControlName="termsAccepted"  [(ngModel)]="termsAccepted" (ionChange)="onTermsChecked($event)" ></ion-checkbox>{{'TERMS' | translate}}</ion-label>


    <ion-button
      expand="block"
      type="submit"
      [disabled]="!signupForm.valid">
      {{'ACCOUNT_CREATE' | translate}}
    </ion-button>

  </form>
</ion-content>
<ion-footer>
  <ion-toolbar padding>
    <ion-button color="tertiary" expand="block" fill="outline" routerLink="/login">{{'LOGIN' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>