
main{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-90deg, #5482aa 50%, #d5e9fc 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    header, mat-card{
        width: 25em;
    }
  
    header{
      text-align: center;
      padding: 1em;
      font-size: x-large ;
      font-weight: lighter;
      color: #ffffff;
      letter-spacing: 0.15em;
    }
    ion-item > ion-button {
      width: 50%;

    }
}
  