<ion-header>
  <ion-toolbar>
    <ion-title>
      {{user}}
    </ion-title>
    <ion-button color="primary" (click)='tryLogout()' slot="end"><ion-icon name="log-out"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Utenim ad minim veniam</ion-card-subtitle>
      <ion-card-title>Duis aute irure dolor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </ion-card-content>
  </ion-card>
</ion-content>
