
<ion-content>
  <main>

    <mat-card class="mat-elevation-z8" *ngIf="user">  
      <ion-buttons>
        <ion-button color="primary" (click)='tryLogout()' fill="clear"><ion-icon name="log-out-outline" ></ion-icon></ion-button>
      </ion-buttons>   
      <img  *ngIf="user.photoURL" src='{{user.photoURL}}'alt="" />
      <img *ngIf="!user.photoURL" src='assets/person.png' alt="" />
      <ion-item *ngIf="user.email" color="translucent">
        {{user.email}}
      </ion-item>
      <ion-item  *ngIf="user.displayName"  color="translucent">
        {{user.displayName}}
      </ion-item>  
      </mat-card>   
  </main>
</ion-content>
